<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body ng-app="ArtGallery" ng-controller="ArtSearch">

    <ul id="dropdown1" class="dropdown-content">
        <li>@Html.ActionLink("Shopping Cart", "Cart", "Purchase")</li>
        <li>@Html.ActionLink("Purchase History", "PurchaseHistory", "Purchase")</li>
    </ul>

    <ul id="dropdown2" class="dropdown-content">
        <li>@Html.ActionLink("Manage Arts", "Index", "ManageArts")</li>
        <li>@Html.ActionLink("Artists Management", "Index", "ArtistManagement")</li>
    </ul>
    

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("eArtGallery", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">My Purchase</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Sell Art</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>
    <br /><br />
    <footer class="container body-content">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>
