@model IEnumerable<PhotoGallery.Models.Art>

@{
    ViewBag.Title = "Index";
}

<h4>Manage Your Uploads</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.ArtName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormatType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dimension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.Link" width="80" height="60"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormatType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dimension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtId })
        </td>
    </tr>
}

</table>
