
@{
    ViewBag.Title = "Detail";
}
<br />
<a class="btn btn-large" href="/Home/Index/">Back</a>
<br />
<h3>@ViewBag.detail.ArtName</h3>
<p>Type: @ViewBag.detail.ArtType</p>
<p>Format: @ViewBag.detail.FormatType</p>
<p>Size: @ViewBag.detail.Size</p>
<p>Dimension: @ViewBag.detail.Dimension</p>
<p>Photographer: @ViewBag.detail.Artist</p>
<p><b>Price: $@ViewBag.detail.CurrentPrice</b></p>
<img src='@ViewBag.detail.Link' />



